body {
    background-color:#808080
}

nav {
    position:absolute;
    z-index: 980;
    margin-top: 57px;
    right: 0px;
    width: 328px;
    font-size: 20px;
    
}



.txt_clr {
    text-decoration: none;
    color: white;
}

.button1 {
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background-color:#1a73ef;

}

section {
    text-align: center;
}

h1 {
    font-family: Arial;
    font-size: 40mm;
    color: white;
    margin-bottom:70px;
}

img {
    width: 20.4px;
    border: 1px solid black; 
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-color:black;
    padding-top: 14.5px;
    padding-bottom: 12.5px;
    border-right: transparent;
    padding-left: 20px;
    left: 4px;
    position: relative;
}

input {
    
    border: 1px solid black;
    background-color: transparent;
    border-radius: 50px;
    align-items: center;
    height: 49px;
    border-left-color: transparent;
    border-top-left-radius:0;
    border-bottom-left-radius: 0;
    margin-top: 50px;
    padding-top: 40px;

    
    


}

.button2 {
    font-size: 25px;
    border: 1px;
    background-color:rgb(138, 138, 138);
    color: white;

}
.footer_b {
    background-color: transparent;
    border-color: transparent;
}

span {
    margin-left: 70%;
}